{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'ArthurConnect/img/favicon.png' %}" type="image/png" />
  <title>{% block title %} ArthurConnect {% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/responsive.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/custom-pages.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/contact-structure.css' %}" />
  <link rel="stylesheet" href="{% static 'ArthurConnect/css/custom-fixes.css' %}" />
</head>


<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <!-- Messages d'alerte -->
    {% if messages %}
      <div class="container mt-2">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="top_menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="float-left">
              <p>Phone: +237 6 xx xx xx xx</p>
              <p>email: arthurdjoumessi326@gmail.com</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="float-right">
              <ul class="right_side">
                <li>
                  <a href="{% url 'contact' %}">
                    Contact Us
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'index' %}">
            <img src="{% static 'ArthurConnect/img/logoarthurconnect.png' %}" alt="" /width="120" height="110">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Accueil</a>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Formations</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'boutique_formations' %}">Formations</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'boutique_articles' %}">Articles</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                  <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}">À Propos</a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  <li class="nav-item">
                    <a href="{% url 'boutique_formations' %}" class="icons" title="Formations">
                      <i class="ti-book" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="{% url 'cart' %}" class="icons" title="Panier">
                      <i class="ti-shopping-cart"></i>
                      {% if user.is_authenticated %}
                        <span class="badge badge-danger" style="position: absolute; top: -8px; right: -8px; font-size: 10px;" id="cart-count">0</span>
                      {% endif %}
                    </a>
                  </li>

                  {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a href="#" class="icons dropdown-toggle" data-toggle="dropdown" title="Mon compte">
                        <i class="ti-user" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'my_orders' %}">Mes commandes</a>
                        <a class="dropdown-item" href="{% url 'wishlist' %}">Mes favoris</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
                      </div>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a href="{% url 'login' %}" class="icons" title="Se connecter">
                        <i class="ti-user" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endif %}

                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a href="{% url 'wishlist' %}" class="icons" title="Favoris">
                        <i class="ti-heart" aria-hidden="true"></i>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!--================Header Menu Area =================-->
  {% block content %}
  {% endblock %}

  <!-- ================ Live Chat Widget HTML ================= -->
  <div id="chat-widget" class="chat-widget d-none">
    <div class="chat-header">
      <h5><i class="fa fa-comments"></i> Support en Direct</h5>
      <button id="close-chat" class="close-chat"><i class="fa fa-times"></i></button>
    </div>
    <div class="chat-body">
      <div class="chat-messages" id="chat-messages">
        <div class="message agent">
          <p>Bonjour ! Comment pouvons-nous vous aider aujourd'hui ?</p>
        </div>
      </div>
      <div class="chat-input">
        <input type="text" id="chat-input" placeholder="Tapez votre message...">
        <button onclick="sendMessage()"><i class="fa fa-paper-plane"></i></button>
      </div>
    </div>
  </div>

  <div class="chat-toggle" id="chat-toggle">
    <i class="fa fa-comments"></i>
  </div>
  <!-- ================ End Widget HTML ================= -->

  <!--================ start footer Area  =================-->
  <footer class="footer-area section_gap" style="background: #0d0d1f;">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Top Products</h4>
          <ul>
            <li><a href="#">Managed Website</a></li>
            <li><a href="#">Manage Reputation</a></li>
            <li><a href="#">Power Tools</a></li>
            <li><a href="#">Marketing Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Features</h4>
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand Assets</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Guides</a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Experts</a></li>
            <li><a href="#">Agencies</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <h4>Newsletter</h4>
          <p>You can trust us. we only send promo offers,</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address '" required="" type="email">
              <button class="click-btn btn btn-default">Subscribe</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom row align-items-center">
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'ArthurConnect/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/popper.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/stellar.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/lightbox/simpleLightbox.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/isotope/isotope-min.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'ArthurConnect/vendors/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/mail-script.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/theme.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/chat.js' %}"></script>
  <script src="{% static 'ArthurConnect/js/chat-toggle.js' %}"></script>

  <!-- Script pour mettre à jour le compteur du panier -->
  {% if user.is_authenticated %}
  <script>
    // Mettre à jour le compteur du panier au chargement de la page
    document.addEventListener('DOMContentLoaded', function() {
      fetch('/arthurconnect/cart-count/')
        .then(response => response.json())
        .then(data => {
          const cartCount = document.getElementById('cart-count');
          if (cartCount && data.count > 0) {
            cartCount.textContent = data.count;
            cartCount.style.display = 'inline';
          } else if (cartCount) {
            cartCount.style.display = 'none';
          }
        })
        .catch(error => console.log('Erreur lors du chargement du panier:', error));
    });
  </script>
  {% endif %}

</body>
</html>